<head>
	{% load static %}
  <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/uikit.rtl.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/site.css' %}">
	<meta charset="utf-8">

	{% block metatitle %}
  <title>Derpi | Opensource home automation</title>
	{% endblock %}
</head>
